body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #779E5E; /* Change this to your desired background color */
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Brush Script MT', cursive; /* Change to cursive font */
}

.main-image {
    max-width: 100%;
    height: auto;
    margin: 5px 0; /* Reduce margin to close the distance */
}

button {
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 5px; /* Reduce margin to close the distance */
}

button:hover {
    background: transparent;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 25px #ffffff8c;
    border: 3px solid #ffffff;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover .star-1 {
    top: -80%;
    left: -30%;
    width: 25px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    top: -25%;
    left: 10%;
    width: 15px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    top: 55%;
    left: 25%;
    width: 5px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    top: 30%;
    left: 80%;
    width: 8px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    top: 25%;
    left: 115%;
    width: 15px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    top: 5%;
    left: 60%;
    width: 5px;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    position: relative;
    width: 40px;
    height: 60px;
    animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
    content: "";
    background: red;
    width: 40px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: 50% 68%;
    box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
    transform: rotate(-45deg);
}
@keyframes heartBeat {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}